################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdvanceSoftwear_2/ShapeApplication.cs
/AdvanceSoftwear_2/Form1.cs
/AdvanceSoftwear_2/ShapeApplication.Designer.cs
/AdvanceSoftwear_2/ShapeApplication.resx
/AdvanceSoftwear_2/Form1.Designer.cs
/.vs/AdvanceSoftwearEngineering/FileContentIndex/e7231f61-dbb3-4fa6-8367-8f60b5c957c6.vsidx
/.vs/AdvanceSoftwearEngineering/FileContentIndex/fe8f0769-2782-4e67-a3fe-67cd7ce31154.vsidx
